/proyectoventanas/target/
/ProyectoVentana/nbproject/private/
/VentanasProyecto/nbproject/private/
/VentanasProyecto/build/
/ProyectoVentanas/nbproject/private/
/Ventanas/nbproject/private/
/Ventanas/build/
