/proyectoventanas/target/
/ProyectoVentana/nbproject/private/
/VentanasProyecto/nbproject/private/
/VentanasProyecto/build/
/ProyectoVentanas/nbproject/private/
/Ventanas/nbproject/private/
/Ventanas/build/
/polo/nbproject/private/
/herencia/nbproject/private/
/herencias/nbproject/private/
/herencia/build/
/DiagramasUML/nbproject/private/
/Auto/nbproject/private/
/Auto/build/
/Carro/nbproject/private/
/autos/nbproject/private/
/Autos/nbproject/private/
/Autos/build/
/WebApplication1/nbproject/private/
/WebApplication2/nbproject/private/
/WebApplication3/nbproject/private/
/juju/nbproject/private/
